@charset "UTF-8";

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #252525;
    overflow: auto;
}

/* menuWrap */
.menuWrap {
    width: 100%;
    /* height: 200px; */
    height: 70%;
    background-color: #252525;
    margin: 0;
    padding-top: 20px;
    box-sizing: border-box;
    overflow: scroll;
    font-size: 12px;
    text-align: center;
}

.menuWrap button {
    width: 80px;
    height: 40px;
    margin: 0 10px;
    padding: 0px;
    border-radius: 5px;
    background-color: #454545;
    color: #aaa;
    border: none;
    font-size: 18px;
}

.menuWrap button:hover {
    background-color: #656565;
}

.menuWrap button:active {
    background-color: #151515;
}

/* 텍스트 영역 */
.txt_example {
    width: 100%;
    /* height: 90%; */
    height: 30%;
    float: left;
    background-color: #252525;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    border: none;
    resize: vertical;
    color: #aaa;
    font-size: 16px;
    line-height: 1.6em;
    font-weight: 300;
    border-top: 1px solid #525252;
    border-bottom: 1px solid #525252;
}


/* scrollbar */
::-webkit-scrollbar {
    width: 15px;
    height: 15px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-thumb {
    width: 3px;
    border-radius: 15px;
    background-color: #525252;
    border: 5px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
}
::-webkit-scrollbar-track {
    background-color: #252525;
}
::-webkit-scrollbar-button {
    width: 5;
    height: 5;
    display: none;
}
::-webkit-scrollbar-corner {
    background-color: rgba(0, 0, 0, 0);
    border: 1px none;
}
::-webkit-resizer {
    background-color: rgba(0, 0, 0, 0);
}


::-webkit-scrollbar-track:hover {
    cursor: pointer;
}

textarea:focus,
.txtWrap button{
    outline: none;
}